<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form  method="POST">
        {% csrf_token %}
     <label>TeacherName : </label>
        <input type="text" placeholder="enter ur name" name="name"><br><br>
        <label>Tage : </label>
       
        <input type="text" placeholder="enter age" name="age"><br><br>
        <button type="submit">submit</button>
 
 
    </form>
    <a href="{% url 'learn:deatails' %}">veiw teachers</a>
    
    
</body>
</html>